body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}


#map {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    z-index: 100;
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
    top: 100px;
    left: 100px;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.623);
	-webkit-text-fill-color: rgba(245, 245, 245, 0.849);
}

.search-container {
    border-radius: 30px;
    position: absolute;
    z-index: 100;
    top: 230px;
    left: 100px;
    width: 400px;
    height: 60px;
    background-color: rgb(69, 78, 83);
    background-color: rgba(69, 78, 83, 0.8);
    display: flex;
    box-shadow: 0 0 0 2pt rgba(245, 245, 245, 0.7);

}

.search-container .search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input {
    width: 100%;
    font-size: 25px;
    color: white;
    background-color: transparent;
    border: none;
    color: white;
}

.search-container input:focus {
    outline: none;
}

.search i {
    font-size: 25px;
    color: white;
}

.stores-list-container {
    width: 400px;
    position: absolute;
    z-index: 100;
    background: rgb(255, 255, 255);
    left: 100px;
    top: 320px;
    border-radius: 30px;
    bottom: 20px;
    display: flex;
    overflow-y: hidden;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: rgba(245, 245, 245, 0.7);
}

.store-container {
    border-bottom: 1px solid #979797;
    display: flex;
    cursor: pointer;
}

.store-info-container {
    flex-grow: 1;
}

.store-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-address {
    font-size: 21px;
    color: black;
    margin-top: 30px;
}

.store-address span {
    display: block;
}

.store-phone-number {
    color: rgb(65, 64, 64);
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 12, 12);
    color: #B5ADAD;
    border-radius: 50%;
    font-size: 12px;

}

.stores-list {
    flex-grow: 1;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    height: 451px;
}

.store-info-window {
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}

.store-info-name {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0,0,0,.87);
}

.store-info-status {
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}

.store-info-address, .store-info-phone {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.store-info-address .circle, .store-info-phone .circle {
    width: 30px;
    height: 30px;
    background-color: #1985A1;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 8px;
}

.search i {
    cursor: pointer;
}

.store-container-background {
    display: flex;
    flex-grow: 1;
    border-radius: 18px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    transition: all 0.2s ease-in-out;
}

.store-container-background:hover {
    background-color: #ccc;
}

 









